@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

.App {
  text-align: center;
  width:100vw;
  height: 100vh;
  background-color: rgba(0,128,129,255);
  position: relative;
}

.footer {
  height: 5vh;
  width: 100vw;
  border-top: 2px solid rgba(244,250,249,255);
  background-color: rgba(192,192,192,255);
  position: fixed;
  bottom: 0px;

}

.iconButton{
  background-color: rgba(0,128,129,255);
  border: none !important;
  display: flex;
  max-width: 50px;
}
.MediaIcon {
  height: 60px;
  width: 60px;
}
.Label {
  width:90px;
}

p {
  font-family: 'Outfit', sans-serif;
  color: white;
}

.MediaIconButton {
  background-color:transparent;
  border: none
}

.StartButton {
  height:4vh;
}

.Misc {
  height: 4vh;
}

.bottomBar {
  position: fixed;
  left: 4px;
  bottom: 0px;
}
