@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

.AppWrap {
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position:fixed;
}
.App {
  text-align: center;
  width:90vw;
  height: 90vh;
  background-color: rgba(0,128,129,255);
  position: relative;
  overflow: hidden;
  margin-left: 5vw;
  margin-top: 5vh;
  position: fixed;
  text-align: left;
}

.footer {
  height: 5vh;
  width: 90vw;
  border-top: 2px solid rgba(244,250,249,255);
  background-color: rgba(192,192,192,255);
  position: fixed;
  bottom: 5vh;

}

.iconButton{
  background-color: rgba(0,128,129,255);
  border: none !important;
  display: flex;
  max-width: 50px;
}
.MediaIcon {
  height: 60px;
  width: 60px;
}
.Label {
  width:90px;
}

p {
  font-family: 'Outfit', sans-serif;
  color: white;
}

.MediaIconButton {
  background-color:transparent;
  border: none;
  margin-top:2vh;
  position: fixed;
}

.StartButton {
  height:4vh;
}

.Misc {
  height: 4vh;
}

.bottomBar {
  position: fixed;
  left: 5.3vw;
  bottom: 5vh;
}

img {
  pointer-events: none;
  cursor: default;
}

.NotebookIconButton {
  background-color:transparent;
  border: none;
  margin-top:22vh;
  margin-left: 2vw;
  position: fixed;
}