@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
.Notepad {
    max-width: 85vw;
    max-height:60vh;
    z-index: 22;
    left: 7vw;
    position: fixed;
    top: 20%;
}
.Notepad-bg {
    max-width: 85vw;
    max-height:60vh;
    z-index: 21;
    left: 7vw;
    position: fixed;
    top: 20%;
}


